$document-font: san-serif;
$bodyMagenta: #b00020;
$bodyDarkgrey: #212121;
$fontColor: #fafafa;

@mixin containerSize{
  height: 100%;
  width: auto;
  background-color: $bodyMagenta;
  text-align: center;
  padding: 20px;
  border-radius: 109px 109px 109px 109px;

-moz-border-radius: 109px 109px 109px 109px;
-webkit-border-radius: 109px 109px 109px 109px;
border: 0px solid $bodyMagenta;
}



body,html{
  background-color: $bodyDarkgrey;
  font: {
    family: $document-font;
  }
}

.container{
  @include containerSize;
}
