$document-font: san-serif;
$bodyMagenta: #b00020;
$bodyDarkgrey: #212121;
$fontColor: #fafafa;

@mixin containerSize{
  height: 100%;
  width: auto;
  background-color: $bodyMagenta;
  margin: 0 auto;
}



body,html{
  background-color: $bodyDarkgrey;
  font: {
    family: $document-font;
  }
}

.container{
  @include containerSize;
}
